@font-face {
  font-family: 'NotoSansKR-subset';
  font-weight: 400;
  src: local('Noto Sans CJK KR Regular'),
       url('font/NotoSansKR-subset-Regular.woff2') format('woff2'),
       url('font/NotoSansKR-subset-Regular.woff') format('woff');
}
@font-face {
  font-family: 'NotoSansKR-subset';
  font-weight: 700;
  src: local('Noto Sans CJK KR Bold'),
       url('font/NotoSansKR-subset-Bold.woff2') format('woff2'),
       url('font/NotoSansKR-subset-Bold.woff') format('woff');
}